       /*
***
* STYLING FOR ACCESSIBILITY
*   Visually hidden
*   Tab focus
***
*/
       
       // Use to hide content that you want available for screen readers etc
       .visually-hidden {
           clip: rect(0 0 0 0);
           clip-path: inset(50%);
           height: 1px;
           overflow: hidden;
           position: absolute;
           white-space: nowrap;
           width: 1px;
       }
       
       //Making links and other clicable elements clearly marked when using tab
       .focus-when-using-tab:focus-visible {
           outline: none;
           box-shadow: 0 0 4px 4px #2a56e6;
           z-index: 1;
       }