/*
*** 
* Change styles that are repeaded throughout the web site in this document
*** 
* Buttons
*** */

// Style buttons for the page using .styled-button
.styled-button {
    background-color: #496e6b;
    border: 3px solid #5f7a78;
    display: inline-block;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #37524f;
    border: 3px solid #475c5a;
    box-shadow: 0 10px 16px 0 rgba(80, 74, 68, 0.24), 0 17px 30px 0 rgba(68, 56, 56, 0.19);
}