/*
***
* STYLES FOR MOBILE VERSION. 
***
The site is built mobile first. This file contains most styles. 
Styles applicable specifically for tablet and desktop are in respective file in the SCSS map
***
*   Header
*   Landing page
*   Previous projects
*   About
*   Contact
*   Footer
*/

body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}


/*
***
* HEADER
***
*   Envelope leading to contact page
*   Logo
*   Hamburger menu
*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    background-color: #304240;
    color: white;
    z-index: 3;
    .fa-envelope {
        position: absolute;
        top: 2vh;
        left: 4%;
        display: inline-block;
        font-size: 2.5rem;
        color: white;
        display: inline-block;
    }
}

.fa-envelope:hover {
    position: fixed;
    margin-top: 5px;
}

.th-logo {
    top: 2vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.hamburger {
    position: fixed;
    top: 2vh;
    right: 4%;
    z-index: 1;
}

.hamburger-menu nav {
    display: flex;
    justify-content: center;
    div {
        display: none;
        background-color: #2a4e48;
        border-radius: 15px;
        width: 50%;
        height: 50vh;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 10%;
        transition: background-color 0.2s ease-in;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    div:hover {
        background-color: #173d36;
    }
    a:hover {
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.1rem;
    }
}

.hamburger-menu:hover {
    cursor: pointer;
}

.hamburger-bar {
    border-radius: 6px;
    width: 40px;
    height: 5px;
    background-color: white;
    position: relative;
    display: flex;
    margin-top: 0.3rem;
}

.hamburger:hover {
    .hamburger-bar-top {
        margin-bottom: 6px;
        margin-top: 6px;
    }
    .hamburger-bar-bottom {
        margin-top: 6px;
    }
}

.hamburger-menu.menu-open div {
    position: fixed;
    display: flex;
    flex-direction: column;
}


/*
***
* MAIN SECTION
***
*/

main {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: white;
}


/*
***
* LANDING PAGE
***
*   Buttons that (will) lead to other pages
*/

.landing-page {
    display: block;
    text-align: center;
    h1 {
        margin-bottom: 50px;
        font-size: 2.5rem;
        font-family: 'Lora', serif;
    }
    span {
        display: block;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }
    button {
        display: inline-block;
        min-height: 3rem;
        width: 40%;
        font-size: 0.7rem;
    }
}


/*
***
* PREVIOUS PROJECTS
***
*   Bootstrap image carousel
*       Display none for the images in the HTML that should 
*       only be shown on desktop layout
*   Button that (will) lead to my extended portfolio
*/

.previous-projects {
    margin-top: 100px;
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
    .sample-paragraph {
        margin-top: 15px;
    }
    .images-for-desktop-layout {
        display: none;
    }
}

.view-my-portfolio {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 1rem;
        margin-right: 2%;
        text-align: center;
    }
    button {
        height: 3rem;
        margin-left: 2%;
    }
}


/*
***
* ABOUT
***
*   Sections are extendable, created with Bootstrap 
*/

.about-me {
    h2 {
        position: relative;
        margin-top: 100px;
        margin-bottom: 30px;
        text-align: center;
    }
    .about-me-sections {
        background-color: rgba(116, 180, 155, 0.6);
        margin-bottom: 30px;
        border-radius: 30px;
        .sections-flexbox {
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 10px 5%;
            a {
                position: absolute;
                right: 5%;
            }
        }
    }
}


/*
***
* Contact
***
*   Profile image
*   Phone
*   Contact form
*   Social media icons from font-awesome
*/

.contact {
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h2 {
        margin-bottom: 20px;
    }
    figure img {
        margin-bottom: 30px;
    }
    form {
        position: relative;
        display: flex;
        flex-direction: column;
        input {
            margin-top: 0;
            margin-bottom: 7px;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        input[type=submit] {
            width: 20%;
            margin-bottom: 30px;
        }
        .textarea-for-larger-screen {
            display: none;
        }
        textarea {
            margin-bottom: 10px;
        }
    }
}

address {
    p {
        margin-bottom: 0;
    }
}

.font-awesome-icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: center;
    a {
        text-decoration: none;
        color: black;
        .fab {
            font-size: 1.5rem;
            padding: 30px 5px 15px;
        }
        .fab:hover {
            color: #4c7572;
            cursor: pointer;
        }
    }
}


/*
***
* FOOTER
***
*  Copyright
*   Button to go back to the top 
*/

footer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 15px 10px;
    justify-content: space-between;
    p {
        margin-bottom: 0;
    }
    button {
        display: flex;
        flex-direction: row;
        height: fit-content;
        a {
            text-decoration: none;
        }
        a:visited {
            color: black;
        }
    }
}